In [2]:
from pandas import DataFrame, Series
import pandas as pd
import numpy as np

In [1]:
""" 
    Starter code for exploring the Enron dataset (emails + finances);
    loads up the dataset (pickled dict of dicts).

    The dataset has the form:
    enron_data["LASTNAME FIRSTNAME MIDDLEINITIAL"] = { features_dict }

    {features_dict} is a dictionary of features associated with that person.
    You should explore features_dict as part of the mini-project,
    but here's an example to get you started:

    enron_data["SKILLING JEFFREY K"]["bonus"] = 5600000
    
"""
import pickle

enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

In [7]:
names = enron_data.keys()
names.sort()

In [8]:
names

['ALLEN PHILLIP K',
 'BADUM JAMES P',
 'BANNANTINE JAMES M',
 'BAXTER JOHN C',
 'BAY FRANKLIN R',
 'BAZELIDES PHILIP J',
 'BECK SALLY W',
 'BELDEN TIMOTHY N',
 'BELFER ROBERT',
 'BERBERIAN DAVID',
 'BERGSIEKER RICHARD P',
 'BHATNAGAR SANJAY',
 'BIBI PHILIPPE A',
 'BLACHMAN JEREMY M',
 'BLAKE JR. NORMAN P',
 'BOWEN JR RAYMOND M',
 'BROWN MICHAEL',
 'BUCHANAN HAROLD G',
 'BUTTS ROBERT H',
 'BUY RICHARD B',
 'CALGER CHRISTOPHER F',
 'CARTER REBECCA C',
 'CAUSEY RICHARD A',
 'CHAN RONNIE',
 'CHRISTODOULOU DIOMEDES',
 'CLINE KENNETH W',
 'COLWELL WESLEY',
 'CORDES WILLIAM R',
 'COX DAVID',
 'CUMBERLAND MICHAEL S',
 'DEFFNER JOSEPH M',
 'DELAINEY DAVID W',
 'DERRICK JR. JAMES V',
 'DETMERING TIMOTHY J',
 'DIETRICH JANET R',
 'DIMICHELE RICHARD G',
 'DODSON KEITH',
 'DONAHUE JR JEFFREY M',
 'DUNCAN JOHN H',
 'DURAN WILLIAM D',
 'ECHOLS JOHN B',
 'ELLIOTT STEVEN',
 'FALLON JAMES B',
 'FASTOW ANDREW S',
 'FITZGERALD JAY L',
 'FOWLER PEGGY',
 'FOY JOE',
 'FREVERT MARK A',
 'FUGH JOHN L',
 'GAHN ROBERT S',
 'GARLAND C KEVIN',
 'GATHMANN WILLIAM D',
 'GIBBS DANA R',
 'GILLIS JOHN',
 'GLISAN JR BEN F',
 'GOLD JOSEPH',
 'GRAMM WENDY L',
 'GRAY RODNEY',
 'HAEDICKE MARK E',
 'HANNON KEVIN P',
 'HAUG DAVID L',
 'HAYES ROBERT E',
 'HAYSLETT RODERICK J',
 'HERMANN ROBERT J',
 'HICKERSON GARY J',
 'HIRKO JOSEPH',
 'HORTON STANLEY C',
 'HUGHES JAMES A',
 'HUMPHREY GENE E',
 'IZZO LAWRENCE L',
 'JACKSON CHARLENE R',
 'JAEDICKE ROBERT',
 'KAMINSKI WINCENTY J',
 'KEAN STEVEN J',
 'KISHKILL JOSEPH G',
 'KITCHEN LOUISE',
 'KOENIG MARK E',
 'KOPPER MICHAEL J',
 'LAVORATO JOHN J',
 'LAY KENNETH L',
 'LEFF DANIEL P',
 'LEMAISTRE CHARLES',
 'LEWIS RICHARD',
 'LINDHOLM TOD A',
 'LOCKHART EUGENE E',
 'LOWRY CHARLES P',
 'MARTIN AMANDA K',
 'MCCARTY DANNY J',
 'MCCLELLAN GEORGE',
 'MCCONNELL MICHAEL S',
 'MCDONALD REBECCA',
 'MCMAHON JEFFREY',
 'MENDELSOHN JOHN',
 'METTS MARK',
 'MEYER JEROME J',
 'MEYER ROCKFORD G',
 'MORAN MICHAEL P',
 'MORDAUNT KRISTINA M',
 'MULLER MARK S',
 'MURRAY JULIA H',
 'NOLES JAMES L',
 'OLSON CINDY K',
 'OVERDYKE JR JERE C',
 'PAI LOU L',
 'PEREIRA PAULO V. FERRAZ',
 'PICKERING MARK R',
 'PIPER GREGORY F',
 'PIRO JIM',
 'POWERS WILLIAM',
 'PRENTICE JAMES',
 'REDMOND BRIAN L',
 'REYNOLDS LAWRENCE',
 'RICE KENNETH D',
 'RIEKER PAULA H',
 'SAVAGE FRANK',
 'SCRIMSHAW MATTHEW',
 'SHANKMAN JEFFREY A',
 'SHAPIRO RICHARD S',
 'SHARP VICTORIA T',
 'SHELBY REX',
 'SHERRICK JEFFREY B',
 'SHERRIFF JOHN R',
 'SKILLING JEFFREY K',
 'STABLER FRANK',
 'SULLIVAN-SHAKLOVITZ COLLEEN',
 'SUNDE MARTIN',
 'TAYLOR MITCHELL S',
 'THE TRAVEL AGENCY IN THE PARK',
 'THORN TERENCE H',
 'TILNEY ELIZABETH A',
 'TOTAL',
 'UMANOFF ADAM S',
 'URQUHART JOHN A',
 'WAKEHAM JOHN',
 'WALLS JR ROBERT H',
 'WALTERS GARETH W',
 'WASAFF GEORGE',
 'WESTFAHL RICHARD K',
 'WHALEY DAVID A',
 'WHALLEY LAWRENCE G',
 'WHITE JR THOMAS E',
 'WINOKUR JR. HERBERT S',
 'WODRASKA JOHN',
 'WROBEL BRUCE',
 'YEAGER F SCOTT',
 'YEAP SOON']

# Query the Dataset1
What is the total value of the stock belonging to James Prentice?

In [10]:
enron_data['PRENTICE JAMES']['total_stock_value']

1095040

# Query the Dataset 2
How many messages do we have from Wesley Colwell to POIs?

In [12]:
enron_data['COLWELL WESLEY']['from_this_person_to_poi']

11

# Query the Dataset 3
What's the value of stock options exercised by Jeff Skilling

In [14]:
enron_data['SKILLING JEFFREY K']['exercised_stock_options']

19250000

# Quiz: Follow the money

In [15]:
enron_data['LAY KENNETH L']

{'bonus': 7000000,
 'deferral_payments': 202911,
 'deferred_income': -300000,
 'director_fees': 'NaN',
 'email_address': 'kenneth.lay@enron.com',
 'exercised_stock_options': 34348384,
 'expenses': 99832,
 'from_messages': 36,
 'from_poi_to_this_person': 123,
 'from_this_person_to_poi': 16,
 'loan_advances': 81525000,
 'long_term_incentive': 3600000,
 'other': 10359729,
 'poi': True,
 'restricted_stock': 14761694,
 'restricted_stock_deferred': 'NaN',
 'salary': 1072321,
 'shared_receipt_with_poi': 2411,
 'to_messages': 4273,
 'total_payments': 103559793,
 'total_stock_value': 49110078}

# Quiz: Dealing with Unfilled Features
How many folks in this dataset have a quantified salary? Known email address?

In [114]:
df = [ [e, enron_data[e]['salary'], enron_data[e]['email_address']] for e in enron_data ]

In [115]:
df = DataFrame(df)

In [116]:
df.columns = ['name', 'salary', 'email']

In [117]:
df.head()

               name  salary                     email
0        METTS MARK  365788      mark.metts@enron.com
1     BAXTER JOHN C  267102                       NaN
2    ELLIOTT STEVEN  170941  steven.elliott@enron.com
3  CORDES WILLIAM R     NaN     bill.cordes@enron.com
4    HANNON KEVIN P  243293    kevin.hannon@enron.com

In [119]:
df.salary[df['salary']=='NaN'] = np.nan

In [120]:
df.email[df['email']=='NaN'] = np.nan

In [121]:
# Minha dúvida é pq o salário não está sendo contabilizado devidamente
# >> NA groups in GroupBy are automatically excluded.
# Beleza. Agora como que eu ajusto minha consulta para aparecer devidamente o resultado?
df.groupby([pd.isnull(df.salary)]).count()

        name  salary  email
salary
False     95      95     87
True      51       0     24

Na realidade eu estava pensando demais. <br />
Se eu executar o código abaixo, será contado todos os valores não nulos.

In [122]:
df.count()

name      146
salary     95
email     111
dtype: int64

# Missing POIs 1
As you saw a little while ago, not every POI has an entry in the dataset (e.g. Michael Krautz). That’s because the dataset was created using the financial data you can find in final_project/enron61702insiderpay.pdf, which is missing some POI’s (those absences propagated through to the final dataset). On the other hand, for many of these “missing” POI’s, we do have emails. <br />

While it would be straightforward to add these POI’s and their email information to the E+F dataset, and just put “NaN” for their financial information, this could introduce a subtle problem. You will walk through that here.<br />

How many people in the E+F dataset (as it currently exists) have “NaN” for their total payments? What percentage of people in the dataset as a whole is this?<br />

In [144]:
df = [ [e, enron_data[e]['total_payments'], enron_data[e]['poi']] for e in enron_data ]
df = DataFrame(df)

In [145]:
df.head()

                  0        1      2
0        METTS MARK  1061827  False
1     BAXTER JOHN C  5634343  False
2    ELLIOTT STEVEN   211725  False
3  CORDES WILLIAM R      NaN  False
4    HANNON KEVIN P   288682   True

In [146]:
df.columns = ['name', 'total_payments', 'poi']

In [131]:
df.total_payments[df.total_payments=='NaN'] = np.nan

In [132]:
df.count()

name              146
total_payments    125
dtype: int64

In [137]:
(146-125)/146.0 * 100

14.383561643835616

In [143]:
146-125

21

# Missing POIs 2
What percentage of POIs in the dataset have "NaN" for thei total payments?

# Missing POIs 3
If a machine learning algorithm were to use total_payments as a feature, would you expect it to associate a "NaN" value with POI's or non-POIs?

# Missing POIs 4
If you added in, say, 10 more data points which were all POI’s, and put “NaN” for the total payments for those folks, the numbers you just calculated would change.<br />
What is the new number of people of the dataset? What is the new number of folks with “NaN” for total payments

# Missing POIs 5
What is the new number of POI’s in the dataset? What is the new number of POI’s with NaN for total_payments?

Yes, it's true that there are 10 POIs with "NaN" - your number for the total number of POIs in the dataset is incorrect though

In [150]:
df.groupby('poi').count()

       name  total_payments
poi
False   128             128
True     18              18

# Missing POIs 6
Once the new data points are added, do you think a supervised classification algorithm might interpret “NaN” for total_payments as a clue that someone is a POI?

# Mixing Data Source

Adding in the new POI’s in this example, none of whom we have financial information for, has introduced a subtle problem, that our lack of financial information about them can be picked up by an algorithm as a clue that they’re POIs. <span style="color:blue">Another way to think about this is that there’s now a difference in how we generated the data for our two classes--non-POIs all come from the financial spreadsheet, while many POIs get added in by hand afterwards.</span> <span style="color:red">That difference can trick us into thinking we have better performance than we do</span>--suppose you use your POI detector to decide whether a new, unseen person is a POI, and that person isn’t on the spreadsheet. Then all their financial data would contain “NaN” but the person is very likely not a POI (there are many more non-POIs than POIs in the world, and even at Enron)--you’d be likely to accidentally identify them as a POI, though! <br />

This goes to say that, when generating or augmenting a dataset, you should be exceptionally careful if your data are coming from different sources for different classes. It can easily lead to the type of bias or mistake that we showed here. There are ways to deal with this, for example, you wouldn’t have to worry about this problem if you used only email data--in that case, discrepancies in the financial data wouldn’t matter because financial features aren’t being used. There are also more sophisticated ways of estimating how much of an effect these biases can have on your final answer; those are beyond the scope of this course.<br />

For now, the takeaway message is to be very careful about introducing features that come from different sources depending on the class! It’s a classic way to accidentally introduce biases and mistakes.